<div class="container">
    <section class="row posts">
        {{#if posts.length}}
            {{#each posts as |post|}}
                {{> post-info post}}
            {{/each}}
        {{else}}
        <p class="no-posts">
            There aren't any posts yet! Feel free to add one!
        </p>
        {{/if}}
    </section>
    <div class="row">
        <a href="/dashboard/newpost" class="btn new-post-btn" role="button">+ New Post</a>
    </div>
</div>