<div>
    <form class="new-post-form" id="newPostForm">
        <h2 class="create-new-post">Create New Post</h2>
        <h3 class="new-post-input">Title</h3>
        <input class="new-post-content" id="title" name="title" type="text" placeholder="Title..." required=""/>
        <h3 class="new-post-input">Content</h3>
        <input class="new-post-content" id="content" name="content" type="text" placeholder="Content..." required=""/>

        <button type="submit">Create</button>
    </form>
</div>

<script src="/javascript/add-post.js"></script>