<div>
    <form class="new-post-form" id="newPostForm">
        <h2 class="create-new-post">Create New Post</h2>
        <h3 class="new-post-input">Title</h3>
        <input class="new-post-title form-control-lg" id="title" name="title" type="text" placeholder="Title..." required=""/>
        <h3 class="new-post-input">Content</h3>
        <textarea class="new-post-content form-control" rows="6" id="content" name="content" placeholder="Content..." required=""></textarea>

        <button class="create-btn rounded btn" type="submit">Create</button>
    </form>
</div>

<script src="/javascript/add-post.js"></script>