<div>
    <form class="new-post-form">
        <h2 class="create-new-post">Edit Post</h2>
        <h3 class="new-post-input">Title</h3>
        <input class="new-post-content" id="title" name="post-title" type="text" value="{{post.title}}" />
        <h3 class="new-post-input">Content</h3>
        <input class="new-post-content" id="content" name="post-content" type="text" value="{{post.post_content}}" />
        <button id="save-edit-btn">Save Post</button>
        <button type="button" id="delete-post-btn">Delete Post</button>
    </form>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>