*{
    text-decoration: none;
}

a {
    text-decoration: none;
}

:root {
    --prim-color: #2B1700;
    --sec-color: #fff8e7;
}

ul {
    list-style-type: none;
}

header {
    padding: 20px 35px;
    background-color: var(--prim-color);
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: 80%;
    z-index: 999;
}

nav {
    word-spacing: 45px;
    margin-left: 15px;
    font-size: 20px;
}

nav a {
    color: var(--sec-color);
    text-decoration: none;
    margin-bottom: 5px;
}

.btn {
    background-color: var(--sec-color);
    color: var(--prim-color);
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 20px;
    border-color: var(--sec-color);
}

.btn:hover {
    background-color: var(--prim-color);
    color: var(--sec-color);
}

header div {
    margin-top: 20px;
    padding-left: 0px;
    margin-left: 0px;
}

header h1 {
    padding: 4px 6px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: var(--prim-color);
    background-color: var(--sec-color);
    margin-right: 40px;
}

body {
    background-color: var(--sec-color);
}

.col-3 {
    width: 35%;
    margin-top: 10px;
}

.test {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 0%;
    padding-right: 0%;
}


.homepage-post-form {
    padding-left: 0%;
    justify-content: center;
}

.homepage-single-post {
    border: solid;
    border-color: var(--prim-color);
    width: 900px;
    justify-content: center;
    padding-left: 0%;
    padding-right: 0%;
    margin: auto;
    margin-bottom: 10px;
}

.homepage-header {
    background-color: var(--prim-color);
    color: var(--sec-color);
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom: 5px;
    padding-bottom: 8px;
    padding-top: 8px;
    justify-content: center;
}

.homepage-post-title {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 25px;
    margin-bottom: 0;
}

.homepage-post-date {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    margin-bottom: 0;
}

.homepage-post-content {
    background-color: var(--sec-color);
    color: var(--prim-color);
    margin: auto;
    justify-content: left;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.comment-title {
    display: flex;
    justify-content: left;
    background-color: var(--prim-color);
    color: var(--sec-color);
    font-size: 20px;
}

.no-posts {
    font-size: 35px;
}

.posts {
    margin: auto;
    justify-content: center;
}

.post-form {
    background-color: var(--prim-color);
    color: var(--sec-color);
    width: 75%;
    border: solid;
    border-color: var(--prim-color);
    padding: 8px;
    margin-bottom: 20px;
}

.post-form:hover {
    background-color: var(--sec-color);
    color: var(--prim-color);
}

.posts-title {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 25px;
    margin-bottom: 0;
}

.post-date {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 25px;
    margin-bottom: 0;
}

.new-post-btn {
    background-color: var(--prim-color);
    color: var(--sec-color);
    text-decoration: none;
    font-size: 25px;
    border-color: var(--prim-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-top: 18px;
}

.new-post-btn:hover {
    background-color: var(--sec-color);
    color: var(--prim-color);
}

.new-post-form {
    border: solid;
    border-color: var(--prim-color);
    width: 700px;
}

.create-new-post {
    border: solid;
    background-color: var(--prim-color);
    color: var(--sec-color);
    border-color: var(--prim-color);
    padding-left: 10px;
}

.new-post-input {
    padding-left: 15px;
}

.new-post-title {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
}

.new-post-content {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    font-size: 20px;
    resize: none
}

.create-btn {
    background-color: var(--prim-color);
    color: var(--sec-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: var(--prim-color);
}

.create-btn:hover {
    background-color: var(--sec-color);
    color: var(--prim-color);
}

.delete-btn {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 25px;
    margin-bottom: 10px;
    background-color: var(--prim-color);
    color: var(--sec-color);
}

.delete-btn:hover {
    background-color: #dc3545;
}

.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}